# Server
PORT=3000

# MongoDB connection string
MONGODB_URI=mongodb://localhost:27017/social-scheduler

# Environment
NODE_ENV=development
JWT_SECRET=your_jwt_secret

# Zernio
ZERNIO_API_KEY=your_zernio_api_key

# Gemini
GEMINI_API_KEY=your_gemini_api_key

# Leonardo
LEONARDO_API_KEY=your_leonardo_api_key
LEONARDO_MODEL_ID=your_leonardo_model_id

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret